@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
:root {
    /* Color */
    --main-color: rgb(0, 7, 104);
    --light-main-color: rgba(0, 5, 77, 0.73);
    --white-color: #FFF;
    --white-color-rgba: #ffffffc2;
    --black-color: #000;
    --letter-color: ;
    /* Distance */
    --distance: 10rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
.main{
    width: 100%;
    display: none;
}
.active{ display: block; }
#shop-tab, #customer-review ,#box-cart{
    padding: 80px;
}
section#slide-home{
    width: 100%;
    height: 100vh;
    margin: 0;
}
section { margin: 50px 0; }
a { text-decoration: none; }

button { 
    cursor: pointer; 
    border: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
input{ border: none; outline: none;}
/* Căn giữa */
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.center-horizontal{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.center-vetical{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.to_top{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgba(128, 133, 225, 0.339);
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 2rem;
    color: #8c8c8c;
    opacity: 0;
    transition: all .5s ease-in-out;
}